

/* Better styles for embedding GitHub Gists */
.gist{
    font-size:11px !important;
    margin-bottom:20px;
    width:100%;
    
    .highlight {
        width: 100%;
    }
    
    .lines {
        margin-bottom: 0 !important;
    }
    
    .line-number,
    .line {
        line-height: 15px !important;
    }
}
.gist-meta{
    font-family:Helvetica,Arial,sans-serif;
    font-size:11px !important;
}
.gist-meta a{
    color:#26a !important;
    text-decoration:none;
}
.gist-meta a:hover{
    color:#0e4071 !important;
}

.entry-content {

    table {
        width: 100%;
        
        td {
            padding: 10px 0;
            border-bottom: 1px solid @border-color;
        }
    }
}

#post-index .header-title h2 {
	text-transform: none;
}

