

/* Better styles for embedding GitHub Gists */
.gist{
    font-size:13px;
    line-height:18px;
    margin-bottom:20px;
    width:100%;
    
    .highlight {
        width: 100%;
    }
}
.gist pre{line-height: 20px !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}